*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    background: hsla(0, 0%, 0%, 0.975);
    font-family: "Open Sans",sans-serif;
    
}

header{
    height:90px;
    background: hsla(0, 0%, 0%, 0.975);
}

.inner-width{
    max-width: 1000px;
    padding: 0 10px;
    margin: auto;
}

.logo{
    float:left;
    padding: 8px 0;
    color:rgb(242, 237, 237);
    font-size: 20px;
}

.logo img{
    height:100px;
}


.navigation-menu{
    float: right;
    display: flex;
    align-items: center;
    min-height: 50px;
}

.navigation-menu a{
    margin-left: 10px;
    color: white;
    padding: 8px;
}

.navigation-menu a:hover{
        color: #2f94f4; 
}

.navigation-menu i{
    margin-right: 6px;
    font-size: 22px;
}

.branch{
    color:rgb(250, 65, 51);
}


.github{
    color:rgb(250, 65, 51);
}


.pdf{
    color:rgb(250, 65, 51);
}

.menu-toggle-btn{
    float: right;
    height: 60px;
    line-height: 60px !important;
    color: rgb(250, 65, 51);
    font-size: 25px;
    display: none !important;
    cursor: pointer;
    
}

.script {
   padding: 50px;
}
.script-2{
    color:white;
    float:center;
}



@media screen and (max-width:700px) {


    .script img{
        height:300px;
    }
    .menu-toggle-btn{
        display: block !important;
    }

    .navigation-menu{
        position: fixed;
        width: 100%;
        max-width: 400px;
        background: hsla(0, 0%, 0%, 0.975);
        top: 90px;
        right: 0;
        display: none;
        padding: 20px 40px;
        box-sizing: border-box;
    

    }


.navigation-menu::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -10px;
    right: 10px;
}

    .navigation-menu a{
        padding: 8px;
        margin: 10px 0;
        display: block;
    }

    .navigation-menu.active{
        display: block;
    }

    .navigation-menu i{
       float: right;
    
    }

    

}

